.mainFooter{
    background-color: #161619;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.footer{
    
    padding: 0px;
    margin-top: none;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer > h1{
    margin: 0px;
}
.footer > img:hover{
    cursor: pointer;
}