.mainSection{
    background-color: #1A1B21;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30px;
}
.p1{
    font-size: 18px;
    font-weight: 700;
}
.p2{
    font-size: 12px;
    font-weight: 400;
    width: 90%;
    margin-top: -15px;
}