body{
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 300px;
  
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1A1B21;
  border-radius: 10px;
  margin-bottom: 100px;
  overflow: hidden;
}

